[access]
	inheritFrom = webm
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
[project]
[access "refs/heads/master"]
	exclusiveGroupPermissions = push submit
[label "Commit-Queue"]
	abbreviation = CQ
	value = 0 Not ready
	value = +1 Dry run
	defaultValue = 0
	function = NoBlock
	copyAllScoresIfNoCodeChange = true
