[access]
	inheritFrom = webm
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
[project]
[access "refs/heads/master"]
	exclusiveGroupPermissions = push submit
[access "refs/heads/*"]
	label-Commit-Queue = +0..+1 group webm-committers
	labelAs-Commit-Queue = +0..+1 group LUCI-Commit-Queue
	labelAs-Commit-Queue = +0..+1 group open-codecs-scoped-luci-account
	labelAs-Commit-Queue = +0..+1 group webm-committers
	read = group LUCI
	read = group LUCI-Commit-Queue
	read = group open-codecs-scoped-luci-account
	addPatchSet = group open-codecs-scoped-luci-account
	submit = group open-codecs-scoped-luci-account
[label "Commit-Queue"]
	abbreviation = CQ
	value = 0 Not ready
	value = +1 Dry run
	defaultValue = 0
	function = NoBlock
	copyAllScoresIfNoCodeChange = true
