[access]
	inheritFrom = webm
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
[project]
[access "refs/heads/master"]
	exclusiveGroupPermissions = push submit
[access "refs/heads/*"]
	label-Commit-Queue = +0..+1 group webm-googlers
	labelAs-Commit-Queue = +0..+1 group webm-googlers
	read = group LUCI-Commit-Queue
[label "Commit-Queue"]
	abbreviation = CQ
	value = 0 Not ready
	value = +1 Dry run
	defaultValue = 0
	function = NoBlock
	copyAllScoresIfNoCodeChange = true
